<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Form</title>
</head>
<body>

    <h4>Hi [First name],</h4>
    <p>
        Your case in respect of [Subject's name] has been added to our system with the case ID [case ID]
        <br />
        Please reference <a clicktracking= 'off' href="[siteurl]/login/caseid=[case id]">[case id]</a>
        in any communications related to this case.<br />
        You will receive our report on this case soon.<br />
        Fee [Fee].
    </p>
</body>
<footer>
    Kind regards
    <br />
    ESA Risk
    <p>Thank you for creating a case <a clicktracking= 'off' href="[siteUrl]/termsconditions">Terms & Conditions</a></p>
</footer>
</html>



