<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Expiry Reminder</title>
</head>
<body style="font-family: Arial, sans-serif;">
    <div style="max-width: 600px; margin: 0 auto; padding: 20px;">
        <h4>Hi [First name],</h4>
        <p>
            Your document is expiring in [NoOfDays] days,
            please ensure you update the new document ahead of the
            expiry date to avoid losing access to the debtabase platform.
            <br />
            Please <a clicktracking="off" style="text-decoration: underline; color: blue;" href="https://elvisapp.azurewebsites.net">login</a> here to upload your document
        </p>
        <p>Thank you!</p>
        <br>
    </div>
</body>
<footer>
    Kind regards
    <br />
    ESA Risk
</footer>
</html>
