@using CMS.DL.DM;
@using CMS.DL.Model;
@using CaseManagementSystem.Data.Auth;
@using CaseManagementSystem.Data.Companies;
@using CaseManagementSystem.Data.CompaniesAddress;
@using CaseManagementSystem.Data.Country;
@using CaseManagementSystem.Data.Enum;
@using CaseManagementSystem.Data.Users;
@using System.ComponentModel.DataAnnotations;
@using System.Text;
@using System.Text.RegularExpressions;

@inject UsersService UsersService
@inject CompaniesService CompaniesService
@inject CompaniesAddressService CompaniesAddressService
@inject CountryService CountryService
@inject ISnackbar Snackbar
@inject IDialogService Dialog
@inject CustomAuthenticationStateProvider CustomAuthenticationStateProvider
@inject IGooglePlacesService _googlePlacesService
@inject IJSRuntime JS;
@inject CountryService country;

@inject AddressService addressService
@inject HttpClient HttpClient
<MudDivider />
<MudForm @ref="_form">

    <MudDialog>
        <DialogContent>
            @if (_loading)
            {
                <MudProgressLinear Indeterminate="true" Color="@Color.Info" Style="position:absolute;top:0;right:0" />
            }
            <MudPaper Elevation="0">
                <MudGrid Spacing="2">
                   
                    <MudItem xs="6">
                        <MudSelect T="string" @bind-Value="_companiesView.CountryName" Label="Country Name" Variant="Variant.Outlined">
                            @foreach (string Countries in GetAllCountries())
                            {
                                <MudSelectItem Value="Countries">@Countries</MudSelectItem>
                            }
                        </MudSelect>

                    </MudItem>
                    @if (_companiesView.CountryName != "United Kingdom")
                    {
                        <MudItem xs="6">
                            <MudGooglePlacesAutocomplete T="string" @ref="_googleAddress" @bind-Value="_companiesView.Address"
                                                         Adornment="Adornment.Start"
                                                         AdornmentIcon="@Icons.Material.Filled.Map"
                                                         ApiKey="@_googleMapsApiKey" />
                        </MudItem>

                    }

                    @if (_companiesView.CountryName == "United Kingdom")
                    {
                        <MudItem xs="4">
                            <input style="width: 100%; border-bottom: 1px solid #ccc; height: 54px; padding-left:10px" id="addressInput" class="mud-input-root mud-input-text"
                                   placeholder="Type or select an address" />
                            @if (IsLoading)
                            {
                                <MudOverlay Visible="true" DarkBackground="true" ZIndex="9999">
                                    <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
                                </MudOverlay>
                            }
                        </MudItem>
                            <MudItem xs="2">
                                <MudButton Variant="Variant.Filled" Color="Color.Default" OnClick="HandleKeyUp" Class="ml-3">Look Up</MudButton>
                            </MudItem>
                    }

                    @if (_companiesView.CountryName == "United Kingdom")
                    {
                        <MudItem xs="6">
                            <MudTextField T="string" id="Address1" placeholder="Address line 1" Variant="Variant.Outlined"></MudTextField>
                        </MudItem>
                        <MudItem xs="6">
                            <MudTextField T="string" id="Address2" placeholder="Address line 2" Variant="Variant.Outlined"></MudTextField>
                        </MudItem>
                     <MudItem xs="6">
                            <MudTextField T="string" id="Address3" placeholder="Address line 3" Variant="Variant.Outlined"></MudTextField>
                    </MudItem> 
                    @*     <MudItem xs="6">
                            <MudTextField T="string" id="BuildingNo" placeholder="Building Number" Variant="Variant.Outlined"></MudTextField>
                        </MudItem> *@
                        <MudItem xs="6">
                            <MudTextField T="string" id="Town" placeholder="Town" Variant="Variant.Outlined"></MudTextField>
                        </MudItem>
                   @*      <MudItem xs="6">
                    <MudTextField T="string" id="District" placeholder="District" Variant="Variant.Outlined"></MudTextField>
                    </MudItem> *@
                  @*   <MudItem xs="6">
                    <MudTextField T="string" id="Country" placeholder="Country" Variant="Variant.Outlined"></MudTextField>
                    </MudItem> *@
                        <MudItem xs="6">
                            <MudTextField T="string" id="PostCode" placeholder="Post Code" Variant="Variant.Outlined"></MudTextField>
                        </MudItem>
                        <div style="margin-bottom: 200px;">
                        </div>
                    }

                    <MudItem xs="3">
                    </MudItem>
                    <MudItem xs="3">
                    </MudItem>
                    

                    <MudItem xs="6">
                    </MudItem>

                </MudGrid>
            </MudPaper>
        </DialogContent>
        <DialogActions>
            <MudButton Variant="Variant.Filled" OnClick="Cancel">Cancel</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SaveCompanyAddress">Save</MudButton>
              
       
       
        </DialogActions>
       
    </MudDialog>


</MudForm>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public Guid? Id { get; set; }
    private IEnumerable<CompaniesAddressViewModel> _companiesAddress = new List<CompaniesAddressViewModel>();
    private CompaniesViewModel _companiesView = new CompaniesViewModel();
    private CompaniesAddressViewModel _companiesAddressView = new CompaniesAddressViewModel();
    private CompaniesAddressViewModel _selectedCompany = null;

    private MudForm _form;
    private bool _loading = true;
    private UsersViewModel _currentLoginUser = new UsersViewModel();

    private string _googleMapsApiKey = "AIzaSyB718DzCLjS6Qdso7x96jciNU3oaNuPExo";
    private MudBlazor.MudGooglePlacesAutocomplete<string>? _googleAddress;
    private string _getAddressKey = "phQiuTiB8UmDxHChlVxl-Q42028";
    private MudBlazor.MudGooglePlacesAutocomplete<string> _getAddress;
    private string selectedCountry;
    private List<TextFieldModel> textFields = new List<TextFieldModel>();
    private IEnumerable<CompaniesAddress> companiesAddress = new List<CompaniesAddress>();
    private string _selectedOption = "Office";
    private string _additionalData = "";
    private short? _selectedGender = 1;
    private bool IsLoading { get; set; }

    private void HandleOptionChange(string value)
    {
        // Perform actions when the selected option changes
        Console.WriteLine($"Selected option changed to: {value}");
    }

    private async Task<IEnumerable<CompaniesAddressViewModel>> SearchCompaniesAddress(string value)
    {
        IEnumerable<CompaniesAddressViewModel> companiesAddressView = await CompaniesAddressService.GetAllCompaniesAddressAsync();
        if (!string.IsNullOrWhiteSpace(value))
        {
            companiesAddressView = companiesAddressView.Where(c => c.Address != null && c.AddressType.Contains(value, StringComparison.InvariantCultureIgnoreCase));
        }
        else
        {
            _selectedCompany = null;
            StateHasChanged();
        }

        return companiesAddressView;
    }
    private bool IsDefault { get; set; }
    private void OnRadioValueChanged(CompaniesAddress selectedRow)
    {
        foreach (var row in companiesAddress)
        {
            row.IsDefault = false;
        }

        selectedRow.IsDefault = true;
        StateHasChanged();
    }

    private async Task<IEnumerable<string>> GetSuggestionsAsync(string value)
    {
        var suggestions = await addressService.GetAutocompleteSuggestions(value);
        return suggestions.Split(',');
    }
    private async Task HandleKeyUp()
    {
        IsLoading = true;
        string id = "addressInput";
        string[] Address = { "Address1", "Address2", "Address3", "Town", "PostCode" };
        string address = await JS.InvokeAsync<string>("getInputValueAddress", new object[] { Address });
        await RunFunctionOnKeyUp(address);
        await JS.InvokeVoidAsync("addFocus", new object[] { id });
        await Task.Delay(1000);
        IsLoading = false;
        Console.WriteLine($"Input value on key-up: {address}");
    }

    private async Task RunFunctionOnKeyUp(string inputValue)
    {

        Console.WriteLine($"Input value on key-up: {inputValue}");

        await InitializeGetAddressAutocomplete();
    }

    private async Task InitializeGetAddressAutocomplete()
    {
        await JS.InvokeVoidAsync("Country", "addressInput", "j4DD-Sgv1Uis3NtYnXW_CQ15746");
    }

    private void HandleCountrySelection(string selectedCountry)
    {

        Console.WriteLine("Selected Country: " + selectedCountry);
    }
    //changes by dd

    private void SaveAdditionalAddresses()
    {
        Snackbar.Add("Additional addresses saved.", Severity.Info);
    }
    private string GetCommaSepratedAddress()
    {
        string address = string.Join(",", textFields.Select(x => x.value));
        return address?.ToString();
    }
    private bool FilterUKAddresses(string suggestion)
    {

        var result = suggestion.Contains("India", StringComparison.OrdinalIgnoreCase);
        return result;
    }

    //changes by vb
    private async Task SaveCompanyAddress()
    {
        await _form.Validate();
        if (_form.IsValid)
        {
            string id = _googleAddress?.InputReference?.FieldId;
            string address = "";
            string[] Address = new string[] { "Address1", "Address2", "Address3", "Town", "PostCode" };
            if (_companiesView.CountryName == "United Kingdom")
            {
                address = await JS.InvokeAsync<string>("getInputValueAddress", new object[] { Address });
                _companiesAddressView.Address = address;
            }
            else
            {
                _companiesAddressView.Address = _companiesView.Address;
            }
            try
            {
                _companiesAddressView.Updated = DateTime.UtcNow;
                _companiesAddressView.UpdatedBy = _companiesAddressView.Id;
                // _companiesAddressView.AddressType = _companiesView.AddressType;

                // if (_companiesView.Id != Guid.Empty)
                // {
                //     _companiesAddressView.CompanyId = _companiesView.Id;
                //     _companiesAddressView.IsDefault = false;
                //     await CompaniesAddressService.UpdateCompaniesAddress(_companiesAddressView);
                //     if (_companiesView.Id != Guid.Empty)
                //     {
                        
                //     }
                // }

                if (Id == null && Id == Guid.Empty)
                {
                    // await CompaniesAddressService.UpadteCompaniesAddressAsync(_companiesAddressView);
                }
                else
                {
                    address = await JS.InvokeAsync<string>("getInputValue", new object[] { id });
                    _companiesAddressView.Id = Guid.NewGuid();
                    _companiesAddressView.Created = DateTime.UtcNow;
                    _companiesAddressView.CreatedBy = _currentLoginUser.Id;
                    _companiesAddressView.Address = _companiesAddressView.Address;
                    _companiesAddressView.AddressType = "User Address";
                    _companiesAddressView.CompanyId = _companiesView.Id;
                    //_companiesAddressView.IsDefault = true;
                    await CompaniesAddressService.InsertCompaniesAddressAsync(_companiesAddressView);
                    CompaniesAddressViewModel addedData = await CompaniesAddressService.GetLastCompaniesAddressAsync();
                }
              
                companiesAddress = companiesAddress.Append(new CompaniesAddress
                    {
                        Address = _companiesAddressView.Address,
                        AddressType = "User Address",
                        Id = _companiesAddressView.Id,
                    });
                _companiesAddressView.AddressType = "User Address";
                _currentLoginUser.Address = _companiesAddressView.Address;
                Snackbar.Add("Successfully saved information.", Severity.Success);
            }
            catch (Exception)
            {
                Snackbar.Add("Error! Please try again.", Severity.Error);
            }
            MudDialog.Close(DialogResult.Ok(new { Id, UpdatedAddress = _companiesAddressView.Address, AddressType = _companiesAddressView.AddressType }));
        }
    }
    //changes by vb
    private async Task SaveCompanyAddressDb()
    {
        string otherAddress = GetCommaSepratedAddress();
        if (!string.IsNullOrEmpty(otherAddress))
        {
            _companiesAddressView.Address = otherAddress;
        }
        await _form.Validate();

        if (_form.IsValid)
        {
            // The address must be retrieved from the referenced input because when picking it by clicking in google places the bound value is not updated
            string id = _googleAddress.InputReference.FieldId;
            string address = await JS.InvokeAsync<string>("getInputValue", new object[] { id });
            _companiesAddressView.Address = address;
            //_companiesAddressView.AddressType = _companiesAddressView.AddressType ;
            //_companiesAddressView.IsDefault = _companiesAddressView.IsDefault ;

            try
            {
                _companiesAddressView.Updated = DateTime.UtcNow;
                _companiesAddressView.UpdatedBy = _companiesAddressView.Id;
                _companiesAddressView.AddressType = _companiesView.AddressType;

                if (Id == null && Id == Guid.Empty)
                {
                    await CompaniesAddressService.UpadteCompaniesAddressAsync(_companiesAddressView);
                }
                else
                {
                    _companiesAddressView.Id = Guid.NewGuid();
                    _companiesAddressView.Created = DateTime.UtcNow;
                    _companiesAddressView.CreatedBy = _currentLoginUser.Id;
                    _companiesAddressView.Address = _companiesAddressView.Address;
                    _companiesAddressView.AddressType = "User Address";
                    //_companiesAddressView.IsDefault = true;

                    await CompaniesAddressService.InsertCompaniesAddressAsync(_companiesAddressView);//changes by vb

                    CompaniesAddressViewModel addedData = await CompaniesAddressService.GetLastCompaniesAddressAsync();
                    Id = addedData.Id;//changes by vb
                }
                companiesAddress = companiesAddress.Append(new CompaniesAddress
                    {
                        Address = _companiesAddressView.Address,
                        AddressType = "User Address",
                        Id = _companiesAddressView.Id,
                        //IsDefault = _companiesAddressView.IsDefault
                    });
                _companiesAddressView.AddressType = _companiesView.AddressType;
                Snackbar.Add("Successfully saved company information.", Severity.Success);
            }
            catch (Exception)
            {
                Snackbar.Add("Error! Please try again.", Severity.Error);
            }

            //MudDialog.Close(DialogResult.Ok(Id));
        }
    }
    public List<string> GetAllCountries()
    {

        CountryDM countryDM = new CountryDM();
        List<string> allCountries = countryDM.GetAllCountries();
        return countryDM.GetAllCountries(); ;
    }
    private async Task SaveData()
    {
        await SaveCompany();
        await SaveCompanyAddressDb();
    }
    //changes by dd
    private async Task RemoveCompanyAddress(Guid id)
    {
        var parameters = new DialogParameters<ConfirmationDialogContent>();
        parameters.Add(x => x.ContentText, $"Do you really want to remove this company record?");
        parameters.Add(x => x.ButtonText, "Yes");
        parameters.Add(x => x.Color, Color.Error);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };

        DialogResult result = await Dialog.Show<ConfirmationDialogContent>("Confirmation", parameters, options).Result;

        if (!result.Canceled)
        {
            // Remove the company address from the list
            companiesAddress = companiesAddress.Where(a => a.Id != id).ToList();

            // Update the UI
            StateHasChanged();

            // Delete the company address from the database
            await CompaniesAddressService.DeleteCompaniesAddressAsync(id);

            Snackbar.Add($"Successfully removed company.", Severity.Success);
        }
    }

    //changes by dd
    private async Task GetCompaniesAddress()
    {
        _companiesAddress = await CompaniesAddressService.GetAllCompaniesAddressAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        // await InitializeGetAddressAutocomplete();
        if (Id != null && Id != Guid.Empty)
        {
            await GetCompanyById();
        }
        _companiesView.CountryName = "United Kingdom";
        _currentLoginUser = await UsersService.CheckLogin(CustomAuthenticationStateProvider.UserName());
        _loading = false;
        await GetCompaniesAddress();
    }



    private async Task GetCompanyById()
    {
        _companiesView = await CompaniesService.GetCompaniesByIdAsync((Guid)Id);
    }

    private async Task<IEnumerable<string>> SearchCountries(string value)
    {
        await Task.Delay(5);

        IEnumerable<string> countries = CountryService.GetAllCountries();
        if (!string.IsNullOrWhiteSpace(value))
        {
            countries = countries.Where(c => c != null && c.Contains(value, StringComparison.InvariantCultureIgnoreCase));
        }

        return countries;
    }

    private void DeleteAddress(CompaniesAddressViewModel address)
    {
        // Add logic to delete the selected address from the list or database
        companiesAddress = companiesAddress.Where(a => a.Id != address.Id).ToList();
    }


    private async Task SaveCompany()
    {
        await _form.Validate();

        if (_form.IsValid)
        {
            // The address must be retrieved from the referenced input because when picking it by clicking in google places the bound value is not updated
            string id = _googleAddress.InputReference.FieldId;
            string address = await JS.InvokeAsync<string>("getInputValue", new object[] { id });
            _companiesView.Address = address;
            try
            {
                _companiesView.Updated = DateTime.UtcNow;
                _companiesView.UpdatedBy = _currentLoginUser.Id;
                _companiesView.AddressType = _companiesView.AddressType;

                if (Id == null && Id == Guid.Empty)
                {
                    await CompaniesService.UpadteCompaniesAsync(_companiesView);
                }
                else
                {
                    _companiesView.Created = DateTime.UtcNow;
                    _companiesView.CreatedBy = _currentLoginUser.Id;
                    await CompaniesService.InsertCompaniesAsync(_companiesView);

                    CompaniesViewModel addedData = await CompaniesService.GetLastCompaniesAsync();
                    Id = addedData.Id;
                }
                _companiesView.AddressType = _companiesView.AddressType;
                Snackbar.Add("Successfully saved company information.", Severity.Success);
            }
            catch (Exception)
            {
                Snackbar.Add("Error! Please try again.", Severity.Error);
            }

            MudDialog.Close(DialogResult.Ok(Id));
        }
    }

    void Cancel() => MudDialog.Cancel();
}